In [1]:
x = 2

In [2]:
y = 10

In [3]:
add = (x + y)

In [4]:
print(add)

12

In [5]:
city = "lagos"

In [6]:
print(type(city))

<class 'str'>

In [7]:
price = 10.2

In [8]:
print(type(price))

<class 'float'>

In [9]:
has_child = True

In [10]:
print(type(has_child))

<class 'bool'>

In [11]:
age = 15

In [12]:
print(type(age))

<class 'int'>

In [13]:
print(5 % 2)

1

In [14]:
x = 15.7

In [15]:
print(round(x))

16

In [16]:
x = "32"

In [17]:
print(x)

32

In [18]:
print(type(x))

<class 'str'>

In [19]:
convert_x = int(x)

In [20]:
print(convert_x)

32

In [21]:
print(type(convert_x))

<class 'int'>

In [22]:
first_name = "baby  "

In [25]:
last_name ="zane"

In [26]:
concat = first_name + last_name

In [27]:
print(concat)

baby  zane

In [28]:
my_age = 10

In [29]:
print(my_age)

10

In [31]:
print(f"my age is {my_age} years old")

my age is 10 years old

In [33]:
name = "mAYowA"

In [34]:
print(name.lower())

mayowa

In [35]:
print(name.upper())

MAYOWA

In [38]:
import random
random_number = random.randint(3, 9)

In [39]:
print(random_number)

6

In [40]:
random_number = random.randint(3, 9)

In [41]:
print(random_number)

5

In [42]:
first_name = input("please put in yourn name:     ")

please put in yourn name:     baby

In [43]:
print(first_name)

baby

In [44]:
print(type(first_name))

<class 'str'>

In [45]:
number = input("put in any number:    ")

put in any number:    7

In [46]:
print(number)

7

In [47]:
print(type(number))

<class 'str'>

In [48]:
number = int(input("put any number:    "))

put any number:    9

In [49]:
print(number)

9

In [50]:
print(type(number))

<class 'int'>